:root {
    --accent-color: #3CA0AA;
    --accent-color-hover: #36888E;
    --accent-color-dark: #094A53;
    --text-color: #4B4B4B;
}

body { font-family:"Raleway", sans-serif; color:#4B4B4B; }
ul { padding-inline-start:25px; list-style-type:none; }
ul li { position:relative; }
ul li:before { content:""; display:block; position:absolute; top:8px; left:-25px; width:7px; height:7px; background-color:#3CA0AA; }

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

/* ===== Bootstrap ===== */
@media screen and (min-width: 768px) {
    .container-960 { max-width:960px; padding:0; }
    
}

.container { padding-left:10px!important; padding-right:10px!important; }
.container .row { margin-left:-0px!important; margin-right:-0px!important; }
.container .row.no-gutter { margin-left:-15px!important; margin-right:-15px!important; }

body:not(.home):not(.stomatologie-digitala):not(.laborator):not(.radiologie) .main { padding-top:30px; }
body.radiologie.s-template .main{ padding-top:30px!important; }

@media only screen and (max-width:768px) {
    .main { overflow:hidden; }
    .container { padding-left:30px!important; padding-right:30px!important; }
}

/* ===== get an appointment ===== */
.banner { width:100%; padding:5px 0px 0px; display:inline-block; background-color:#cbe0e5; z-index:9999; }
.banner a, .banner p { position:relative; margin-left:20px; margin-bottom:8px; color:#20596a; text-decoration:none; font-weight:600; font-size:15px; }
.banner a.phone:before { position:absolute; content:""; top:4px; left:-25px; width:20px; height:20px; background-image: url(../images/telefon.svg); background-size:contain; }

.banner a.contact { margin-top:-6px; padding:5px 10px; height:33px; background-color:#3CA0AA; color:#fff; font-weight:500; transition:.3s cubic-bezier(0.165, 0.84, 0.44, 1); }
.banner a.contact:hover { background-color:#23757F; }

.contact .banner { display:none; }
/* desktop */
@media only screen and (min-width:769px) {
    .banner a.contact { margin-right:15px; }
}
/* ===== get an appointment ===== */

/* ===== header ===== */
.header-wrapper { position:relative; }
body:not(.home) .header-wrapper { border-bottom:1px solid rgba(0,0,0,.2); }
.header { position:relative; }

.header .logo div { margin-bottom:0; }
.header .logo img { width:196px; }

.header .nav { padding-top:28px; }
.header .nav li { position:relative; padding-left:16px; padding-bottom:10px; }
.header .nav li:before { display:none; }
.header .nav li a { color:#094A53; font-size:14px; text-transform:uppercase; font-weight:600; text-decoration:none; transition:.3s cubic-bezier(0.165, 0.84, 0.44, 1); }
.header .nav li a:hover, .header .nav li.current a { color:#3CA0AA; }

.header .nav li .spot { display:none; }
.header .nav li.current .spot { display:block; position:absolute; bottom:0px; height:0px; border:1px solid #3CA0AA; transition:.1s bottom; }

.header .nav .has-submenu:hover > .submenu { display:block; }

.header .nav .submenu { display:none; position:absolute; width:140px; left:-25px; bottom:-403px; background-color:#3CA0AA; opacity:0.9; z-index:99; padding-inline-start:0!important; }
.header .nav .submenu li { padding:0px; }
.header .nav .submenu li:hover { background-color:#16707A; }
.header .nav .submenu a { display:block; padding:5px 15px; color:#FFF!important; text-transform:none; font-weight:500; }
.header .nav .submenu a:hover { color:#FFF; }

.burger-menu { position:absolute; top:62%; right:30px; }
.js-open-menu { width: 30px; height: 30px; position: relative; -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -o-transform: rotate(0deg); transform: rotate(0deg); -webkit-transition: .5s ease-in-out; -moz-transition: .5s ease-in-out; -o-transition: .5s ease-in-out; transition: .5s ease-in-out; cursor: pointer; }
.js-open-menu span { display: block; position: absolute; height: 4px; width: 100%; background: #094A53; border-radius: 9px; opacity: 1; left: 0; -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -o-transform: rotate(0deg); transform: rotate(0deg); -webkit-transition: .25s ease-in-out; -moz-transition: .25s ease-in-out; -o-transition: .25s ease-in-out; transition: .25s ease-in-out; }
.js-open-menu span:nth-child(1) { top: 0px; -webkit-transform-origin: left center; -moz-transform-origin: left center; -o-transform-origin: left center; transform-origin: left center; }
.js-open-menu span:nth-child(2) { top: 10px; -webkit-transform-origin: left center; -moz-transform-origin: left center; -o-transform-origin: left center; transform-origin: left center; }
.js-open-menu span:nth-child(3) { top: 20px; -webkit-transform-origin: left center; -moz-transform-origin: left center; -o-transform-origin: left center; transform-origin: left center; }
.js-open-menu.open span { background:#3CA0AA;  }
.js-open-menu.open span:nth-child(1) { -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -o-transform: rotate(45deg); transform: rotate(45deg); top:-2px; left: 4px; }    
.js-open-menu.open span:nth-child(2) { width: 0%; opacity: 0; }
.js-open-menu.open span:nth-child(3) { -webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg); -o-transform: rotate(-45deg); transform: rotate(-45deg); top: 19px; left: 4px; }

.nav-mobile { display:none; position:absolute; top:80px; left:0px; right:0px; width:100%; background-color:#fff; z-index:10000; }

.nav-mobile ul { padding:0; }
.nav-mobile ul .submenu { display:none; margin:10px 0 -10px; }
.nav-mobile ul .is-expanded { padding-bottom:0; }
.nav-mobile ul .submenu li { background-color:#dbe9ea; }

.nav-mobile li { padding:10px 0; border-bottom:1px solid rgba(0,0,0,.2); }
.nav-mobile li:before { display:none; }
.nav-mobile li a { color:#094A53; font-size:14px; text-transform:uppercase; font-weight:600; text-decoration:none; transition:.3s cubic-bezier(0.165, 0.84, 0.44, 1); }
.nav-mobile li.current a { color:#3CA0AA; }


/* mobile */
@media only screen and (max-width:768px) {
    .header { padding:30px 0 10px; }

    .burger-menu { transform:translateY(-50%); }

    /* .header .row { margin-left:-15px!important; margin-right:-15px!important; } */
    .header .logo img { position:relative; top:-5px; }

    .header .nav-mobile ul { margin-bottom:0!important; }
    .header .language-list-mobile { margin-left:0!important; margin-right:0!important; }
    .header .language-list-mobile li { width:50%; margin-right:0!important; }
}
/* mobile */

/* desktop */
@media only screen and (min-width:769px) {
    .header { padding:30px 45px 0px; }

    .header .logo img { margin-left:12px; }

    .header .language-list { position:absolute; display:inline-block; top:0px; right:25px; padding-top:6px; padding-left:20px; width:15px; height:30px; overflow:hidden; transition:.3s cubic-bezier(0.165, 0.84, 0.44, 1); border-top:1px solid #3CA0AA; z-index:999; }
    .header .language-list:hover { height:55px; }
    .header .language-list li:hover > .language-list { height:55px; }
    .header .language-list li { display:block; padding:0; margin:0; margin-left:-19px; margin-bottom:-8px; }
    .header .language-list li a { color:#094A53; font-size:12px; text-transform:uppercase; font-weight:600; text-decoration:none;  font-family:"Work Sans", sans-serif; transition:.3s cubic-bezier(0.165, 0.84, 0.44, 1); }
    .header .language-list li a:hover, .header .language-list li.current a { color:#3CA0AA; }
}
/* desktop */
/* ===== header ===== */

/* ===== for partners ===== */
.for-partners { position:absolute; bottom:-30px; width:100%; padding:0 15px; background-color:rgba(0,0,0,.5); z-index:98; -ms-overflow-style:none; scrollbar-width:none; }
.for-partners::-webkit-scrollbar { display:none; }
.for-partners .partner-wrapper { display:inline-block; position:relative; padding:3px 0px; }
.for-partners p { display:inline; text-transform: uppercase; font-weight:600; color:rgba(255,255,255,.5); font-size:14px; }
.for-partners a { position:relative; display:inline; text-transform: uppercase; text-decoration:none; font-weight:600; color:rgba(255,255,255,.5); font-size:14px; transition:.3s cubic-bezier(0.165, 0.84, 0.44, 1); }
.for-partners a:hover { color:#FFF; }
.for-partners a:before { position:absolute; content:""; display:block; top:1px; left:-15px; width:7px; height:13px; background-image: url(../images/chevron.svg); background-size:contain; background-repeat:no-repeat; transform:rotate(180deg); }
/* mobile */
@media only screen and (max-width:768px) {
    .for-partners { overflow-x:scroll; }
    .for-partners .partner-wrapper { min-width:590px; }
    .for-partners p { margin-right:40px; }
    .for-partners a { margin-right:20px;  }
}
/* mobile */

/* desktop */
@media only screen and (min-width:769px) {
    .for-partners .partner-wrapper { min-width:900px; left:50%; transform: translateX(-50%); padding-left:150px!important; }
    .for-partners p { margin-right:10%; }
    .for-partners a { margin-right:5%; }
}
/* desktop */
/* ===== for partners ===== */

/* ===== footer ===== */
.upper-footer { padding:25px 0; background-color:#3A3D3B; color:#90908A; }
.lower-footer { padding:10px 0; background-color:#505351; color:#90908A; }

.upper-footer h3 { text-transform:uppercase; font-size:18px; font-weight:700; letter-spacing:.5px; }
.upper-footer p { max-width:100%!important; font-size:15px; margin-bottom:-4px; line-height:160%; }

.upper-footer a { padding:8px; width:40px; height:40px; margin-right:10px; background:transparent; border:2px solid #90908A; float:left; text-align:center; border-radius:100%; cursor:pointer; transition:.3s cubic-bezier(0.165, 0.84, 0.44, 1); }
.upper-footer .icons a:hover { background-color:#90908A; }

.upper-footer a i { color:#90908A; font-size:21px; }
.upper-footer a:hover i { color:#FFF; }

.lower-footer p { position:absolute; top:50%; left:15px; font-size:12px; margin-bottom:0; }
.lower-footer .gdpr { text-transform:uppercase; font-size:16px; font-weight:300; text-decoration:none; color:#90908A; text-align:right; letter-spacing:.5px; transition:.3s; }
.lower-footer .gdpr:hover { color:#FFF; }

/* mobile */
@media only screen and (max-width:768px) {
    .upper-footer { text-align:center; }    
    .upper-footer .row.no-gutter > div:not(:first-of-type) { margin-top:15px; }
    .upper-footer .facebook a { float:right; }
    .upper-footer h3 { margin-bottom:5px; }

    .lower-footer .row { margin:0 -10px; }
    .lower-footer span { display:none; }
}
/* mobile */

/* dekstop */
@media only screen and (min-width:769px) {

   .upper-footer h3 {margin-bottom:20px; }
   .lower-footer p { transform:translateY(-50%); }
}
/* dekstop */
/* ===== footer ===== */

/* ===== Page menu ===== */
.page-menu { padding:20px 0; margin-bottom:50px; background-color:#cae0e4; }

.page-menu a { display:block; color:#196e8b; text-decoration:none; text-transform:uppercase; font-size:18px; font-weight:700; }  
.page-menu a:hover span:after, .page-menu a span.current:after { display:block; }
.page-menu a span { position:relative; }
.page-menu a span:after { content:""; display:none; position:absolute; width:100%; height:2px; background-color:#196e8b; } 

.page-menu .row div { position:relative; margin:20px 0; }
/* ===== Page menu ===== */

/* ===== Home - Sections general ===== */
.home section h2 { font-size:32px; color:#094A53; font-weight:300; }

.home section p { font-weight:300; line-height:138%; }

.home .slider { padding:0; }

.home .slider img { position:absolute; }
.home .slider img { width:100%; height:100%; object-fit:cover; }
.home .slider .container { position:relative;}
.home .slider .slider-wrapper { position:relative; width:100%; }
.home .slider h1 { margin-bottom:20px; font-weight:600; color:#fff; }
.home .slider p { margin-bottom:25px; color:#fad223; font-weight:600; }
.home .slider a { padding:8px 15px; border:2px solid white; color:#fff; font-size:18px; text-decoration:none; font-weight:500; transition:.3s cubic-bezier(0.165, 0.84, 0.44, 1); }
.home .slider a:hover { background-color:#23757F; color:#fff; border:2px solid transparent; }

.home .bt-ribbon { padding:8px 0px; background-color:#fbe89b; }
.home .bt-ribbon p { display:inline; margin-bottom:0; font-size:18px; }
.home .bt-ribbon p.images { float:right; }
.home .bt-ribbon img { margin-left:5px; height:30px; width:auto; }
.home .bt-ribbon img:first-child { margin-top:-5px; }

/* mobile */
@media only screen and (max-width:768px) {
    .home .slider { height:400px; }
    .home .slider-wrapper { margin-top:100px; }

    .home .slider h1 { font-size:32px; }

    .home section { padding:1px 0 50px; } 

    .home section h2 { margin-bottom:20px; font-size:28px; }
    .home section p { font-size:14px; }

    .home .bt-ribbon img { margin-bottom:5px; }
    .home .bt-ribbon p { font-size:14px; }
}   
/* mobile */

/* tablet */
@media only screen and (min-width:769px) and (max-width:1023px) {
    .home .slider { min-height:400px; max-height:400px; overflow:hidden; }
    .home .slider-wrapper { margin-top:70px; }
    
    .home .slider h1 { font-size:46px; }
    .home .slider p { font-size:18px; }

    .home section { padding:90px 0 130px; } 

    .home section h2 { margin-bottom:43px; }
    .home section p { max-width:800px; font-size:16px; }
}
/* tablet */

/* desktop */
@media only screen and (min-width:1024px) {
    .home .slider { min-height:700px; max-height:700px; overflow:hidden; }
    .home .slider-wrapper { margin-top:35%; transform:translateY(-50%); }
    .home .slider h1 { font-size:75px; }
    .home .slider p { font-size:32px; }

    .home section { padding:90px 0 130px; } 

    .home section h2 { margin-bottom:43px; }
    .home section p { max-width:800px; font-size:16px; }
}
/* desktop */
/* ===== Home - Sections general ===== */

/* ===== Home - Section gallery 8 ===== */
.home .gallery { padding:0!important; }
.home .gallery-8 img { margin:0; padding:0; width:12.5%; height:auto; border:2px solid white; }
.home .video video { width:100%!important; max-width:1920px!important; left:0%!important; transform:none!important; object-fit:cover; height:auto; margin:0 auto; }
/* mobile */
@media only screen and (max-width:768px) {
    .home .gallery-8 img { width:50%; }
}
/* mobile */

/* desktop */
@media only screen and (min-width:768px) {
    .home .gallery-8 img { width:12.5%; }
}
/* desktop */
/* ===== Home - Section gallery 8 ===== */

/* ===== Home - top services ===== */
.home .top-services { position:relative; padding-bottom:250px; background-color:#fbfaf8; }
.home .top-services h2 { font-size:36px; text-transform:uppercase; text-align:center; font-weight:600; letter-spacing:1px; }
.home .top-services h3 { color:#094A53; text-transform:uppercase; font-weight:600; font-size:21px; letter-spacing:1px; }
.home .top-services .row { max-width:100%; }

/* .home .top-services .services-wrapper .col-md-6 { max-width:960px; } */

.home .top-services .see-all { position:absolute; bottom:150px; left:50%; transform:translateX(-50%); padding:8px 15px; text-decoration:none; background-color:#3CA0AA; color:#fff; font-weight:600; font-size:18px; transition:.3s cubic-bezier(0.165, 0.84, 0.44, 1); }
.home .top-services .see-all:hover { background-color:#23757F; }

.home .top-services .services-wrapper .col-md-6 a { display:table; padding:8px 15px; border:1px solid black; color:black; font-size:16px; text-decoration:none; font-weight:600; transition:.3s cubic-bezier(0.165, 0.84, 0.44, 1); }
.home .top-services .services-wrapper .col-md-6 a:hover { background-color:#23757F; color:#fff; border:1px solid transparent; }


/* mobile */
@media only screen and (max-width:768px) {
    .home .top-services { padding-top:80px; padding-bottom:150px; }

    .home .top-services .services-wrapper .col-md-6 img { width:100%; height:auto; }
    .home .top-services .services-wrapper .row { margin:0; text-align:center; }
    .home .top-services .services-wrapper .row .col-md-6:not(.text) { margin:0!important; padding:0!important; }
    .home .top-services .services-wrapper .row:nth-of-type(2n) { flex-direction:column-reverse!important; }
    .home .top-services .services-wrapper .row a { margin:30px auto 50px; font-size:14px; }
    .home .top-services .services-wrapper .text { padding-left:10px!important; padding-right:10px!important; }
    
    .home .top-services h2 { margin-bottom:40px; }
    .home .top-services h3 { margin:30px 0 10px; }


    .home .top-services .see-all { bottom:75px; }
}
/* mobile */

/* desktop */
@media only screen and (min-width:768px) {
    .home .top-services h3 { margin:70px 0 20px; }

    .home .top-services .services-wrapper .col-md-6.text:first-of-type { padding-bottom:130px; }
    .home .top-services .services-wrapper .col-md-6.text:last-of-type { padding-bottom:90px; }
    .home .top-services .services-wrapper .col-md-6:first-of-type { text-align:right; border-right:1px solid black; }

    .home .top-services .services-wrapper .col-md-6:first-of-type img { margin-right:-15px; } 
    .home .top-services .services-wrapper .col-md-6:last-of-type img { margin-left:-15px; } 

    .home .top-services .services-wrapper .col-md-6:first-of-type p { display:block; float:right; clear:right; max-width:700px; } 
    .home .top-services .services-wrapper .col-md-6:first-of-type p + a { overflow:auto; } 
    .home .top-services .services-wrapper .col-md-6:first-of-type p + a:before { content:""; clear:both; display:table; } 

    .home .top-services .services-wrapper .col-md-6:first-of-type h3,
    .home .top-services .services-wrapper .col-md-6:first-of-type.text p,
    .home .top-services .services-wrapper .col-md-6:first-of-type a { margin-right:20px; }

    .home .top-services .services-wrapper .col-md-6:last-of-type h3,
    .home .top-services .services-wrapper .col-md-6:last-of-type.text p,
    .home .top-services .services-wrapper .col-md-6:last-of-type a { margin-left:20px; }

    .home .top-services .services-wrapper .col-md-6:last-of-type.text p { max-width:700px; }


    .home .top-services .services-wrapper .col-md-6:first-of-type a { position:absolute; right:15px; bottom:80px; }
    .home .top-services .services-wrapper .col-md-6:last-of-type a { margin-left:20px; padding:8px 15px; }
}
/* desktop */
/* ===== Home - Section top services ===== */

/* ===== Home - Section SmileVision ===== */
.home .smilevision { padding-top:50px; padding-bottom:30%; background-image:url("../../media/home/echipa.jpg"); background-size:cover; background-repeat:no-repeat; background-position:center; }
.home .smilevision h2 { text-transform:uppercase; text-align:center; font-weight:600; letter-spacing:1px; }

/* mobile */
@media only screen and (max-width:768px) {
    .home .smilevision { padding-top:40px; }
    .home .smilevision h2 { font-size:24px; margin:0px 0 100px; }
}
/* mobile */
/* ===== Home - Section SmileVision ===== */

/* ===== Home - Section diplomas ===== */
.home .diplomas { padding-top:70px; padding-bottom:0; background-color:#efeeea; }
.home .diplomas h2 { font-size:38px; }
.home .diplomas p { margin-bottom:35px; }
.home .diplomas img { z-index:98; }
.home .diplomas a { padding:8px 15px; border:1px solid black; color:black; font-size:16px; text-decoration:none; font-weight:600; transition:.3s cubic-bezier(0.165, 0.84, 0.44, 1); }
.home .diplomas a:hover { background-color:#23757F; color:#fff; border:1px solid transparent; }

/* mobile */
@media only screen and (max-width:768px) {
    .home .diplomas { padding-bottom:70px; }
    .home .diplomas img { display:none; }
}
/* mobile */
/* ===== Home - Section diplomas ===== */

/* ===== Home - Section contact ===== */
.home .contact { margin-top:-30px; background-color:#f7f9f8; padding-bottom:40px; }
.home .contact h2 { margin-bottom:90px; text-align:center; text-transform:uppercase; font-weight:600; letter-spacing:1px; }

.home .contact h3, .home .contact label { font-size:18px; text-transform:uppercase; font-weight:600; color:#3CA0AA; }
.home .contact h3  { margin-left:40px; }
.home .contact h3:before { content:""; position:absolute; top:0px; left:-20px; display:block; width:30px; height:36px; background-repeat:no-repeat; background-size:80% }
.home .contact h3 + p { margin-left:40px; margin-bottom:40px; }
.home .contact h3 + p, .home .contact h3 + p a { color:#094A53!important; transition:.3s cubic-bezier(0.165, 0.84, 0.44, 1); }
.home .contact h3 + p a:hover { text-decoration:none; color:#23757F; }

.home .contact input, .home .contact textarea { border:1px solid black; border-radius:0; background-color:#f7f9f8; }
.home .contact button { margin-top:10px; padding:5px 25px; background-color:#3CA0AA; color:#fff; font-weight:500; transition:.3s cubic-bezier(0.165, 0.84, 0.44, 1); border:0; text-transform:uppercase; }
.home .contact button:hover { background-color:#23757F; color:#fff; }

.home .contact .phone h3:before { background-image:url('../images/telefon.svg'); }
.home .contact .email h3:before { background-image:url('../images/email.svg'); }
.home .contact .address h3:before { top:-5px; background-image:url('../images/adresa.svg'); background-size:75%; }
.home .contact .error { padding:5px 0; font-size:13px; color:#AA463C; font-weight:600; }

/* mobile */
@media only screen and (max-width:768px) {
    .home .contact { padding-top:50px; }
    .home .contact .col-md-5 { margin-top:20px; }

    .home .contact button { margin-bottom:20px; }

    .home .contact h3 { margin-left:20px; }
    .home .contact h3 + p { margin-left:20px; margin-bottom:20px; }
}
/* mobile */
 /* ===== Home - Section contact ===== */

/* ===== Home - Section 1 ===== */
.home .section-1 { position:relative; background-image:url("../../media/home/harta.jpg"); background-repeat:no-repeat; background-size:cover; background-position:50%; }
.home .section-1 .container { position:relative; margin-top:100px; }
.home .section-1 h2 { margin-bottom:15px; font-weight:600; color:#3CA0AA; font-size:45px; }
.home .section-1 p { margin-bottom:0px; font-weight:600; font-size:20px; }

.home .section-1 a { display:inline-block; margin-top:20px; padding:8px 15px; border:1px solid #000; color:#000; font-size:18px; text-decoration:none; font-weight:500; transition:.3s cubic-bezier(0.165, 0.84, 0.44, 1); }
.home .section-1 a:hover { background-color:#23757F; color:#fff; border:1px solid transparent; }

/* mobile */
@media only screen and (max-width:768px) {
    .home .section-1 h2 { font-size:32px; }
    .home .section-1 p { font-size:16px; }
    .home .section-1 a { padding:4px 7px; font-size:16px; }
}
/* mobile */
/* ===== Home - Section 1 ===== */

/* ===== Home - Section 2 ===== */
.home .section-2 { padding-top:0; background-color:#d0dfe4; }
.home .section-2 .container { position:relative; top:-100px; padding-top:50px; overflow: hidden; }

.home .section-2 .testimonial { position:relative; }

.home .section-2 .column-image,
.home .section-2 .column-text { margin:0; padding:0; height:100%; overflow:hidden;}

.home .section-2 .column-text .wrapper { background-color:#fff; }

.home .section-2 .column-text .name { margin-bottom:-2px; font-weight:700; font-size:26px; text-transform:uppercase; letter-spacing:1px; color:#094A53; }
.home .section-2 .column-text .function { display:inline-block; padding-top:4px; margin-bottom:28px; font-size:17px; border-top:3px solid #3CA0AA; }    

.home .section-2 .slick-arrow { position:absolute; top:36%; width:26px; height:50px; background-color:transparent; border:none; outline:none; transform:translateY(-50%); background-image:url('../images/chevron.svg'); text-indent:-999px; background-size:cover; transition:.3s cubic-bezier(0.165, 0.84, 0.44, 1); }
.home .section-2 .slick-arrow:hover { background-image:url('../images/chevron-hover.svg'); }
.home .section-2 .slick-prev { left:0px; }
.home .section-2 .slick-next { right:0px; transform:translateY(-50%) scaleX(-1); }

.home .section-2 .slick-dots { position:relative; }
.home .section-2 .slick-dots li { display:inline; }
.home .section-2 .slick-dots li:before { display:none; }
.home .section-2 .slick-dots button { margin-right:8px; width:22px; height:2px; background-color:#3CA0AA; outline:none; border:none; text-indent:-999px; transition:.3s cubic-bezier(0.165, 0.84, 0.44, 1); }
.home .section-2 .slick-dots li.slick-active button { background-color:#094A53; }

.home .section-2 .js-read-more { text-decoration:none; color:#1d4c54; font-size:14px; text-transform:uppercase; font-weight:600; }

/* mobile */
@media only screen and (max-width:768px) {
    .home .section-2 { padding-bottom:0; }
    .home .section-2 .column-image, .home .section-2 .column-text { margin:0 auto; max-width:320px; }
    
    .home .section-2 .column-image { position: relative; top:0px; width:100%; left:0px; z-index:99; }
    .home .section-2 .column-image img { width:100%; }

    .home .section-2 .column-text { margin-top:0px;; }
    .home .section-2 .column-text .wrapper { height:420px; padding:15px; }
    

    .home .section-2 .quotes { display:none;}
    .home .section-2 .slick-dots { display:inline-block; padding-left:0; max-width:320px; bottom:-25px; left:50%; transform:translateX(-50%); }
}
/* mobile */

/* dekstop */
@media only screen and (min-width:769px) and (max-width:1200px) { 
    .home .section-2 .slick-dots { left:-25px!important; }
}
@media only screen and (min-width:769px) {
    .home .section-2 { padding-bottom:0px; margin-bottom:-250px; }

    .home .section-2 .slick-list { max-width:1020px; height:600px; margin:0 auto; padding-top:50px; top:-40px; }

    .home .section-2 .quotes { position:absolute; top:-23px; right:57px; width:70px; height:68px; z-index:99; }
    .home .section-2 .column-text { position:absolute; top:0; right:10px; min-height:100%; padding-left:0px; padding-right:0px; }
    .home .section-2 .column-text .wrapper { height:470px; padding:40px 28px 28px; }

    .home .section-2 .slick-dots { bottom:170px; left:25px; }
}
/* dekstop */

/* ===== Home - Section 2 ===== */

/* ===== Contact - Section 2 ===== */
.contact .section-2 h1 { color:#094A53; }
.contact .section-2 h2 { color:#3FAFBA; }

.contact .section-2 p { display:block; word-wrap:break-word; }

/* ===== Contact page ===== */
.contact .section-2 h1, .contact .section-2 h2 { text-transform:uppercase; }
.contact .section-2 h2:before { content:""; position:absolute; top:0px; left:-20px; display:block; width:30px; height:36px; background-repeat:no-repeat; background-size:80% }
.contact .section-2 .phone h2:before { background-image:url('../images/telefon.svg'); }
.contact .section-2 .email h2:before { background-image:url('../images/email.svg'); }
.contact .section-2 .address h2:before { top:-5px; background-image:url('../images/adresa.svg'); background-size:75%; }

.contact .section-2 .row { margin-bottom:20px; }
.contact .section-2 .row a { padding-left:0px; color:#4B4B4B; }

.contact h2, .contact label { font-size:18px; text-transform:uppercase; font-weight:600; color:#3CA0AA; }
.contact h2  { margin-left:40px; }
.contact h3 + p { margin-left:40px; margin-bottom:40px; }
.contact h3 + p, .contact h3 + p a { color:#3CA0AA!important; transition:.3s cubic-bezier(0.165, 0.84, 0.44, 1); }
.contact h3 + p a:hover { text-decoration:none; color:#23757F; }
.contact input, .contact textarea { border:1px solid black; border-radius:0; background-color:#fff; }
.contact button { margin-top:10px; padding:5px 25px; background-color:#3CA0AA; color:#fff; font-weight:500; transition:.3s cubic-bezier(0.165, 0.84, 0.44, 1); border:0; text-transform:uppercase; }
.contact button:hover { background-color:#23757F; color:#fff; }

.contact .error { padding:5px 0; font-size:13px; color:#AA463C; font-weight:600; }
.contact .text { margin-left:40px; }

/* mobile */
@media only screen and (max-width:999px) {
    .contact #map { min-height:55vw; }

    .contact .section-2 .row { margin:10px 20px; }

    .contact .section-2 { padding:40px 0 50px; } 

    .contact .section-2 h1 { margin-bottom:20px; font-size:23px; }
    .contact .section-2 h2 { font-size:18px; }
    .contact .section-2 p { font-size:16px; }
}
/* mobile */

/* dekstop */
@media only screen and (min-width:1000px) {
    .contact #map { min-height:400px; }
    
    .contact .section-2 { padding:60px 0 100px; } 
    .contact .section-2 h1 { margin-bottom:50px; font-size:23px; text-transform:uppercase; } 
    
    .contact .section-2 h2 { font-size:16px; text-transform:uppercase; }
    .contact .section-2 p { max-width:800px; font-size:16px; }
}
/* dekstop */
/* ===== Contact page ===== */

/* ===== Stomatologie digitala page ===== */
.stomatologie-digitala .title-ribbon { padding:40px 0 10px; background-color:#e6e6e6; }
.stomatologie-digitala .title-ribbon h2 { font-size:38px; margin-bottom:0; color:#666; }

.stomatologie-digitala p { max-width:100%!important; }
.stomatologie-digitala .video video { width:100%!important; max-width:1920px!important; left:0%!important; transform:none!important; object-fit:contain; height:auto; margin:0 auto; }{ max-width:100%!important; }

.stomatologie-digitala section:not(.section-1):not(.section-9) { padding-bottom:20px!important; }
.stomatologie-digitala section h2 { font-size:28px; }
.stomatologie-digitala section img { width:100%; }
.stomatologie-digitala section .d-lg-flex img { object-fit:cover; }
.stomatologie-digitala section .label { position:relative; display:inline-block; top:-20px; padding:3px 15px; font-size:13px; background-color:#dbe9ea; font-weight:600;}
.stomatologie-digitala section .extra-text { margin-top:40px; color:#094A53; }

.stomatologie-digitala .section-1 { position:relative; padding:0; }
.stomatologie-digitala .section-1 img { width:100%; }
.stomatologie-digitala .section-1 .text-wrapper { position:absolute; width:50%; top:50%; left:20%; transform:translateY(-50%); }
.stomatologie-digitala .section-1 h1 { margin-bottom:10px; color:white; font-size:51px; text-transform: capitalize; font-weight:600; }
.stomatologie-digitala .section-1 h1 + p { margin-left:50px; color:white; font-size:32px; font-weight:500; }

.stomatologie-digitala .section-2 iframe { width:100%; height:45vw; margin:20px 0 50px; }

.stomatologie-digitala .section-3,
.stomatologie-digitala .section-5,
.stomatologie-digitala .section-7 { background-color:#fafafa; }

.stomatologie-digitala .photos img:first-of-type { padding-right:4px!important; }

.stomatologie-digitala .section-9 { padding:0px 0 60px; }
.stomatologie-digitala .section-9 .container { padding:10px 50px!important; background-color:#fdea8b; }
.stomatologie-digitala .section-9 .container p { display:block; position:relative; top:50%; transform:translateY(-50%); }
.stomatologie-digitala .section-9 .container a { position:relative; top:50%; transform:translateY(-50%); display:block; padding:5px 0; background-color:#3CA0AA; color:#FFF; text-transform:uppercase; text-align:center; text-decoration:none; transition:.3s cubic-bezier(0.165, 0.84, 0.44, 1); }
.stomatologie-digitala .section-9 .container a:hover { background-color:#094A53; }

/* mobile */
@media only screen and (max-width:768px) { 
    .stomatologie-digitala section:not(.section-1):not(.section-9) { padding:60px 0 20px; }
    .stomatologie-digitala section .label { top:-10px; }

    .stomatologie-digitala .section-1 { height:400px; }
    .stomatologie-digitala .section-1 img { width:100%; height:100%; object-fit:cover; }
    .stomatologie-digitala .section-1 .text-wrapper { left:10px; width:75%; }
    .stomatologie-digitala .section-1 h1 { font-size:32px; }
    .stomatologie-digitala .section-1 h1 + p { margin-left:50px; color:white; font-size:24px; font-weight:500; }

    .stomatologie-digitala .photos img { position:relative; left:50%; transform:translateX(-50%)!important; max-width:70%; padding-right:0px!important; margin-bottom:5px; }
    .stomatologie-digitala .photos img:last-of-type { padding-right:0px!important; }

    .stomatologie-digitala .photos.photos-4 img { width:50%!important; float:left; }
    .stomatologie-digitala .photos.photos-4 img:nth-of-type(2n) { padding-left:2px!important; }
    .stomatologie-digitala .photos.photos-4 img:nth-of-type(2n+1) { padding-right:2px!important; }
}
/* mobile */

/* dekstop */
@media only screen and (min-width:769px) { }
/* dekstop */
/* ===== Stomatologie digitala page ===== */

/* ===== Laborator page ===== */
.laborator .title-ribbon { padding:40px 0 10px; background-color:#e6e6e6; }
.laborator .title-ribbon h2 { font-size:38px; margin-bottom:0; color:#666; }

.laborator p { max-width:100%!important; }
.laborator .video video { width:100%!important; max-width:1920px!important; left:0%!important; transform:none!important; object-fit:contain; max-height:650px; height:auto; margin:0 auto; max-width:100%!important; }

.laborator section:not(.section-1) { padding-bottom:70px!important; }
.laborator section h2 { font-size:28px; }
/* .laborator section img { width:100%; } */

.laborator .section-1 { position:relative; padding:0;}
.laborator .section-1 img { width:100%; }
.laborator .section-1 .text-wrapper { position:absolute; width:50%; top:50%; left:20%; transform:translateY(-50%); }
.laborator .section-1 h1 { margin-bottom:10px; color:#333; font-size:51px; text-transform: capitalize; font-weight:600; }
.laborator .section-1 h1 + p { margin-left:50px; color:333; font-size:32px; font-weight:500; }

.laborator .section-2 iframe { width:100%; height:45vw; margin:20px 0 50px; }

.laborator .photos img { padding-right:5px!important; }
.laborator .photos img:last-of-type { padding-right:0px!important; }

.laborator .section-3 { background-color:#fafafa; }
.laborator .section-3 img { object-fit:cover; }

.laborator .section-4 img { width:70%; }

.laborator .section-5 { padding:0px 0 90px; }
.laborator .section-5 .container { padding:10px 50px!important; background-color:#fdea8b; }
.laborator .section-5 .container p { display:block; position:relative; top:50%; transform:translateY(-50%); }
.laborator .section-5 .container a { position:relative; top:50%; transform:translateY(-50%); display:block; padding:5px 0; background-color:#3CA0AA; color:#FFF; text-transform:uppercase; text-align:center; text-decoration:none; transition:.3s cubic-bezier(0.165, 0.84, 0.44, 1); }
.laborator .section-5 .container a:hover { background-color:#094A53; }

/* mobile */
@media only screen and (max-width:768px) { 
    .laborator .photos img { position:relative; left:50%; transform:translateX(-50%)!important; max-width:70%; padding-right:0px!important; margin-bottom:5px; }
    .laborator section:not(.section-1):not(.section-5) { padding:70px 0 35px!important; }
    .laborator .section-1 { height:400px; }
    .laborator .section-1 img { width:100%; height:100%; object-fit:cover; }
    .laborator .section-1 .text-wrapper { left:10px; width:100%; }
    .laborator .section-1 h1 { font-size:32px; }
    .laborator .section-1 h1 + p { margin-left:50px; font-size:24px; }
}

@media only screen and (max-width:991px) { 
    .laborator .photos img { width:100%; height:auto; padding-right:0px!important; margin-bottom:5px; }
    .laborator .photos img:last-of-type { padding-right:0px!important; }
}
/* mobile */
/* ===== Laborator page ===== */

/* ===== Radiologie page ===== */
.radiologie:not(.s-template) .title-ribbon { padding:40px 0 10px; background-color:#e6e6e6; }
.radiologie:not(.s-template) .title-ribbon h2 { font-size:38px; margin-bottom:0; color:#666; }

.radiologie:not(.s-template) p { max-width:100%!important; }

.radiologie:not(.s-template) section:not(.section-1) { padding-bottom:70px!important; }
.radiologie:not(.s-template) section h2 { font-size:28px; }
.radiologie:not(.s-template) section img { width:100%; }

.radiologie:not(.s-template) .section-1 { position:relative; padding:0;}
.radiologie:not(.s-template) .section-1 img { width:100%; }
.radiologie:not(.s-template) .section-1 .text-wrapper { position:absolute; width:50%; top:50%; left:20%; transform:translateY(-50%); }
.radiologie:not(.s-template) .section-1 h1 { margin-bottom:10px; color:#fff; font-size:51px; text-transform: capitalize; font-weight:600; }
.radiologie:not(.s-template) .section-1 h1 + p { margin-left:50px; color:#Fff; font-size:32px; font-weight:500; }

.radiologie:not(.s-template) .section-3 { background-color:#fafafa; }

.radiologie:not(.s-template) .section-5 { padding:0px 0 90px; }
.radiologie:not(.s-template) .section-5 .container { padding:10px 50px!important; background-color:#fdea8b; }
.radiologie:not(.s-template) .section-5 .container p { display:block; position:relative; top:50%; transform:translateY(-50%); }
.radiologie:not(.s-template) .section-5 .container a { position:relative; top:50%; transform:translateY(-50%); display:block; padding:5px 0; background-color:#3CA0AA; color:#FFF; text-transform:uppercase; text-align:center; text-decoration:none; transition:.3s cubic-bezier(0.165, 0.84, 0.44, 1); }
.radiologie:not(.s-template) .section-5 .container a:hover { background-color:#094A53; }

/* mobile */
@media only screen and (max-width:768px) { 
    .radiologie:not(.s-template) section:not(.section-1):not(.section-5) { padding:70px 0 35px!important; }
    .radiologie:not(.s-template) .section-1 { height:400px; }
    .radiologie:not(.s-template) .section-1 img { width:100%; height:100%; object-fit:cover; object-position:67%; }
    .radiologie:not(.s-template) .section-1 .text-wrapper { left:10px; width:100%; }
    .radiologie:not(.s-template) .section-1 h1 { font-size:32px; }
    .radiologie:not(.s-template) .section-1 h1 + p { margin-left:50px; font-size:24px; }
}
/* mobile */
/* ===== Radiologie page ===== */

/* ===== Clinic page ===== */

.clinica .gallery img { width:100%; height:auto; }
.clinica .gallery .col-md-6 { margin-bottom:20px; }

.clinica .medics img:not(.side-image) { width:100%; height:auto; margin-bottom:40px; border-radius:0; }
.clinica .medics .side-image, .clinica .section-3 .side-image { width:100%; height:auto; border-radius:0; margin-bottom:0; }
.clinica .medics .card { border:0; }
.clinica .medics .card img { width:100%; height:auto; }
.clinica .medics .card-title { display:inline-block; font-size:22px; font-weight:600; color:#094A53; }
.clinica .medics .card-subtitle { margin-bottom:20px; font-size:17px; font-weight:300; color:#3CA0AA; }
.clinica .medics .card-text { max-width:85%; font-size:16px; }


.clinica .section-3 { padding-bottom:50px; background-color:rgb(251,249,247); }
.clinica .section-3 .inner img { width:100%; height:auto; margin-bottom:20px; }

/* mobile */
@media only screen and (max-width:768px) {
    .clinica .gallery { margin-top:20px; }

    .clinica .section-2 h2 + p { margin-bottom:20px; }
    .clinica .medics .card { margin-bottom:20px; }

    .clinica .medics .side-image { margin-bottom:20px; }
}
/* mobile */

/* dekstop */
@media only screen and (min-width:769px) {
    .clinica .gallery { margin-top:90px; }
    .clinica .medics { padding-bottom:70px; }
    .clinica .section-2 h2 + p { margin-bottom:50px; }
    .clinica .medics .card { margin-bottom:60px; }
}
/* ===== Clinic page ===== */

/* ===== Services page ===== */
/* .servicii .section-2 { padding:20px 0 20px; }
.servicii .nav-list-heading { padding-top:28px; }

.servicii .nav-list-heading ul { padding-left:0px; height:50px; overflow-x:scroll; overflow-y:hidden; }
.servicii .nav-list-heading ul { background-image: linear-gradient(to right, white, white), linear-gradient(to right, white, white), linear-gradient(to right, rgba(0, 0, 20, .1), rgba(255, 255, 255, 0)), linear-gradient(to left, rgba(0, 0, 20, .1), rgba(255, 255, 255, 0));
    background-position: left center, right center, left center, right center;
    background-repeat: no-repeat;
    background-color: white;
    background-size: 20px 100%, 20px 100%, 10px 100%, 10px 100%;
    background-attachment: local, local, scroll, scroll; }

.servicii .nav-list-heading li { position:relative; padding-right:10px; }
.servicii .nav-list-heading li:before { display:none; }
.servicii .nav-list-heading li a { color:#094A53; font-size:14px; text-transform:uppercase; white-space:nowrap; font-weight:600; text-decoration:none; transition:.3s cubic-bezier(0.165, 0.84, 0.44, 1); }
.servicii .nav-list-heading li a:hover, .servicii .nav-list-heading li.current a { color:#3CA0AA; }

.servicii .section-1 .nav-list-heading li .spot { display:none; }
.servicii .section-1 .nav-list-heading li.current .spot { display:block; position:absolute; bottom:10px; height:0px; border:1px solid #3CA0AA; transition:.1s bottom; } */

/* AOS RESET */
/* .servicii [data-aos=fade-left] { transform:translate3d(10px, 0, 0); }
.servicii [data-aos=fade-up] { transform:translate3d(50px, 0, 0); }
.servicii [data-aos=zoom-in] { transform:scale(.9); } */
/* AOS RESET */
/* ===== Services page ===== */


/* ===== Cases page ===== */
.cazuri p { max-width:100%!important; }
.cazuri .main li { margin-bottom:10px; }

.cazuri .nav-list-heading { padding-top:28px; }
.cazuri .nav-list-heading a { display:inline-block; color:#094A53; font-size:14px; text-transform:uppercase; font-weight:600; text-decoration:none; transition:.3s cubic-bezier(0.165, 0.84, 0.44, 1); }
.cazuri .nav-list-heading a:hover, .cazuri .nav-list-heading .current a { color:#3CA0AA; }

.cazuri .nav-list-heading .tab-list-item { margin-bottom:40px; cursor:pointer; }
.cazuri .nav-list-heading .tab-list-item p { display:inline-block; }
.cazuri .nav-list-heading .tab-list-item:hover .spot { opacity:1; }
.cazuri .nav-list-heading .tab-list-item img { margin-bottom:10px; }

.cazuri .nav-list-heading .spot { display:block; opacity:0; position:relative; width:100%; bottom:-5px; height:0px; border:1px solid #3CA0AA; transition:.3s cubic-bezier(0.165, 0.84, 0.44, 1); }
.cazuri .nav-list-heading .current .spot { opacity:1; }

.cazuri .tabs { position:relative; padding:0px; padding-bottom:0!important; }

.cazuri .person { display:block; position:relative; }
.cazuri .has-cover-img .person { padding:70px 0 40px; }
.cazuri .has-cover-img .person:before { content:""; display:block; position:absolute; top:00px; left:0; right:0; bottom:90px; width:100%; background-color:#FCFAF8; z-index:-1; }
.cazuri .has-img-left .person, .cazuri .has-img-right .person { padding-bottom:20px; margin-bottom:40px; }
.cazuri .has-img-left .person:before { content:""; display:block; position:absolute; top:100px; left:0; right:0; bottom:-30px; width:100%; background-color:#FCFAF8; z-index:-1; }

.cazuri .has-img-right .person { margin-top:90px; }
.cazuri .has-img-right .person:before { content:""; display:block; position:absolute; top:-80px; left:0; right:0; bottom:70px; width:100%; background-color:#FCFAF8; z-index:-1; }
.cazuri .has-img-right .person .col-lg-5 { margin-bottom:80px; }


.cazuri .has-cover-img .person h2 { display:block; width:100%; }
.cazuri .has-cover-img .person p { display:block; width:70%; }
.cazuri .has-cover-img .person img { width:100%; margin:30px auto 0; }

.cazuri .info { padding:70px 0 40px; }
.cazuri .info img { width:100%; margin-bottom:10px; }
.cazuri .info img + p { color:#3CA0AA; font-size:21px;  }

.cazuri .info .details { padding:70px 0 40px; }

.cazuri .impressions { padding:70px 0 70px; background-color:#fcfaf8; }
.cazuri video { position:relative; left:50%; transform:translateX(-50%); width:100%; max-width:910px; height:auto; }

.cazuri .gallery .main-image img { width:100%; height:auto; }

.cazuri .gallery .row img { width:100%; height:auto; }

.cazuri .details h3 { color:#3CA0AA; }
.cazuri .details h4 { color:#3CA0AA; font-size:21px; }

.cazuri .team .row { margin-bottom:25px; }

.cazuri .controls { padding:30px 0; }
.cazuri .controls img { position:relative; left:50%; transform:translateX(-50%); width:100px; height:auto; }
.cazuri .controls a { position:relative; font-size:21px; color:#094A53; text-decoration:none; transition:.3s cubic-bezier(0.165, 0.84, 0.44, 1); }
.cazuri .controls a:first-of-type { margin-left:30px; }
.cazuri .controls a:last-of-type { margin-right:30px; }
.cazuri .controls a:before { display:block; content:""; position:absolute; top:50%; width:35px; height:40px; transform:translateY(-50%); background-image:url("../images/chevron-hover.svg"); background-size:contain; background-repeat:no-repeat; }
.cazuri .controls a.js-next-case:before { right:-30px; transform:translateY(-50%) scaleX(-1); }
.cazuri .controls a:hover { color:#3CA0AA; }

/* mobile */
@media only screen and (max-width:768px) {

    .cazuri .nav-list-heading a { position:relative; left:50%; transform:translateX(-50%); }
    .cazuri .has-cover-img .person p { width:100%; }

    .cazuri .team img { max-width:100px; position:relative; left:50%; transform:translateX(-50%); }
    .cazuri .team .col-md-9 {text-align:center; }

    .cazuri .person { margin-bottom:40px; }
    .cazuri .person-image { width:100%; max-width:600px; height:auto; margin:0 auto; }

    .cazuri .gallery { margin-bottom:50px; }
    .cazuri .gallery .main-image img { margin-bottom:10px; }
    .cazuri .gallery .row div { margin-bottom:10px; }


    .cazuri .details { margin-bottom:0px; }

    .cazuri .details h3 { margin-bottom:20px; }
    .cazuri .details h4 { margin-bottom:10px; }

    .cazuri .details > div { margin-bottom:25px;  }
}
/* mobile */

@media only screen and (max-width:993px) { .cazuri .team .col-3 { max-width:90px; } }

/* dekstop */
@media only screen and (min-width:769px) {

    .cazuri .gallery .row { margin-top:50px; }

    .cazuri .gallery { margin-bottom:20px; }

    .cazuri .details h3 { margin-bottom:30px; }
    .cazuri .details h4 { margin-bottom:20px; }
}
/* dekstop */
/* ===== Cases page ===== */


/* ===== Prices page ===== */
.preturi .card-header { padding:0; background-color:#3CA0AA; transition:.3s cubic-bezier(0.165, 0.84, 0.44, 1); }
.preturi .card-header:hover { background-color:#094A53; }
.preturi .card-header .btn { display:block; width:100%; height:100%; padding:15px 20px; text-align:left; color:#FFF; text-transform:uppercase; text-decoration:none; }

.preturi .card-body { padding:20px 0; }
.preturi .card-body .row { padding:5px 20px; transition:.3s cubic-bezier(0.165, 0.84, 0.44, 1); }
.preturi .card-body .row:hover { background-color:#e8e5de; }
/* ===== Prices page ===== */

/* ===== Services home ===== */
.services.landing .section-1 p { max-width:100%; } 

.services .section-2 { padding:0px 0 20px; }
.services .section-2 .card-contents { margin:15px 0; }

.services .section-2 .services-links { margin:0 0 25px; }
.services .section-2 .services-links .inner { display:block; padding-bottom:100%; margin:0px 0; overflow:hidden; background-color:#EAE6E0;  cursor:pointer; transition:.3s cubic-bezier(0.165, 0.84, 0.44, 1); }
.services .section-2 .services-links .inner img { position:absolute; width:92%; top:0px; left:15px; }

.services .section-2 .services-links .inner h3 { position:absolute; top:50%; left:50%; width:90%; transform:translate(-50%, -50%); text-align:center; text-transform:uppercase; font-weight:700; font-size:26px; color:#FFF; text-shadow: 1px 3px 3px rgba(0,0,0,0.5); }

.services .section-2 .card-content { width:100%; background-color:#FFF; }
.services .section-2 .card-content .inner { display:block; padding:30px; }
.services .section-2 .card-content p { max-width:unset; }

/* mobile */
@media only screen and (max-width:768px) {

    .services .section-2 .services-links { overflow:hidden; }
    
}
/* mobile */
/* ===== Services home ===== */

/* ===== Content and Services templates ===== */
.content h1, .services h1 { text-transform:uppercase; }
.content h2, .services h2 { color:#3CA0AA; }

/* mobile */
@media only screen and (max-width:768px) {
    .content section, .services section { padding:70px 0 35px; }

    .content h1, .services h1 { margin-bottom:30px; }
    .content h2, .services h2 { margin-bottom:20px; }
    
}
/* mobile */

/* dekstop */
@media only screen and (min-width:769px) {
    .content section, .services section { padding:70px 0 0px; }
    .content .section-2 { padding-bottom:20px; }

    .content h1, .services h1 { margin-bottom:50px; }
    .content h2, .services h2 { margin-bottom:30px; }

    .content .container p, .services .container p { max-width:75%; }
}
/* ===== Content and Services templates ===== */

/* ===== Servicii Template ===== */
.services.s-template .main h3 { margin-bottom:30px; font-size:21px; color:#3CA0AA; font-weight:600; }
.services.s-template .main p { max-width:100%; width:100%; line-height:160%; }
.services.s-template .main p + ul { margin-top:0px; }
.services.s-template .main p strong { font-weight:600; }

.services.s-template .section-2 { padding:50px 0 40px; }
.services.s-template .section-2 img { width:100%; height:auto; }
.services.s-template .section-2 p { margin-bottom:0; max-width:100%; }
.services.s-template .section-2 .additional-info { margin-top:40px; margin-bottom:-30px; }

.services.s-template .section-3 { padding:50px 0 40px; }
.services.s-template .section-3 .gallery { margin-bottom:40px; }
.services.s-template .section-3 .gallery img { width:100%; height:auto; }

.services.s-template .section-4 { padding:0px 0 60px; }
.services.s-template .section-4 .row.no-gutter { padding-right:5px; }
.services.s-template .section-4 .col-md-9 { padding-right:3rem; }
.services.s-template .section-4 .mini-gallery img { width:100%; height:auto; }
.services.s-template .section-4 .doctors-container { background-color:#cae0e4; }
.services.s-template .section-4 .doctors-container h4 { margin-bottom:20px; color:#3CA0AA; font-size:21px; font-weight:500; }
.services.s-template .section-4 .doctors-container img { width:100%; height:auto; margin-bottom:20px; }
.services.s-template .section-4 .doctors-container p { margin-bottom:5px; font-weight:600; font-size:16px; }
.services.s-template .section-4 .doctors-container span { display:block; margin-bottom:20px; font-size:14px; }

.services.s-template .section-5 { padding:0px 0 90px; }
.services.s-template .section-5 .container { padding:20px 50px!important; background-color:#fdea8b; }
.services.s-template .section-5 .container .col-md-9, .services.s-template .section-5 .container .col-md-12 { font-weight:700; }
.services.s-template .section-5 .container a { position:relative; top:50%; transform:translateY(-50%); display:block; padding:10px 0; background-color:#3CA0AA; font-size:21px; color:#FFF; font-weight:600; text-align:center; text-decoration:none; transition:.3s cubic-bezier(0.165, 0.84, 0.44, 1); }
.services.s-template .section-5 .container a:hover { background-color:#094A53; }

/* mobile */
@media only screen and (max-width:768px) {

    .services .page-menu { display:none; }
    .services.s-template .section-1 { padding:35px 0 0; }
    .services.s-template .section-2 { padding:35px 0 20px; }
    .services.s-template .section-2 p:last-of-type { margin-bottom:20px;; }

    .services.s-template .section-3 { padding:40px 0 20px; }
    .services.s-template .section-3 img { margin-bottom:5px; }

    .services.s-template .section-4 .doctors-container { padding:20px; }
}
/* mobile */

/* dekstop */
@media only screen and (min-width:769px) {
    .services.s-template .section-4 .doctors-container { padding:40px 20px 40px; max-height:440px; }
}
/* ===== Servicii Template ===== */

/* ===== Servicii > Ortodontie ===== */
.ortodontie .section-types { padding:0 0 90px; }
.ortodontie .section-types img { width:100%; height:auto; }
/* ===== Servicii > Ortodontie ===== */

/* ===== Servicii > Odontologie ===== */
/* mobile */
@media only screen and (max-width:768px) {
    .odontologie .section-4 img { margin-bottom:20px; }
}
/* ===== Servicii > Odontologie ===== */

/* ===== Servicii > Implantologie ===== */
.implantologie .section-implants { padding:0 0 90px; }
.implantologie .section-implants .card-body { background-color:#fbfaf9; }

.implantologie .section-implant-systems .col-md-12 img { width:100%; height:auto; margin:20px 0 50px; }
.implantologie .section-implant-systems .col-md-12 iframe { width:100%; height:45vw; margin:20px 0 50px; } 

.implantologie .section-banner { padding:15px 0; margin-bottom:90px; background-color:#f3ece6; }
.implantologie .section-banner p { margin-bottom:0px; font-weight:700; }
/* mobile */
@media only screen and (max-width:768px) {
    .implantologie .section-implants .card { margin-bottom:20px; }
}
/* ===== Servicii > Implantologie ===== */

/* ===== Servicii > Indicatii ===== */
.indicatii .section-1 { padding:70px 0; }
.indicatii p { max-width:100%!important; }
.indicatii .card-header { padding:0; background-color:#3CA0AA; transition:.3s cubic-bezier(0.165, 0.84, 0.44, 1); }
.indicatii .card-header:hover { background-color:#094A53; }
.indicatii .card-header .btn { display:block; width:100%; height:100%; padding:15px 40px; text-align:left; color:#FFF; text-decoration:none; }

.indicatii .card-body { padding:40px; }
.indicatii .card-body .row { padding:5px 20px; transition:.3s cubic-bezier(0.165, 0.84, 0.44, 1); }
.indicatii .card-body .row:hover { background-color:#e8e5de; }
/* ===== Servicii > Indicatii ===== */

/* Cookie window font reset */
.cc-window { font-family:inherit!important; }

/* ===== Formular contact modal ===== */
.contact-form-ajax { position:fixed; top:0; left:0; right:0; bottom:0; width:100%; height:100%; background-color:rgba(0,0,0,.5); z-index:1001; }
.contact-form-ajax .form-wrapper { position:absolute; padding:70px; width:100%; max-width:1000px; top:50%; left:50%; transform:translate(-50%, -50%); background-color:#e2e8eb; z-index:1002; }
.contact-form-ajax .form-wrapper .js-close-form-modal { position:absolute; top:-32px; right:-30px; padding:10px; cursor:pointer; }

.contact-form-ajax .form-wrapper h2 { margin-bottom:20px; font-size:42px; font-weight:600; color:#3CA0AA; }
.contact-form-ajax .form-wrapper p { font-size:18px; }

.contact-form-ajax .form-wrapper .phone { position:absolute; bottom:20px; }
.contact-form-ajax .form-wrapper h3, .contact-form-ajax .form-wrapper label { font-size:18px; text-transform:uppercase; font-weight:600; color:#3CA0AA; }
.contact-form-ajax .form-wrapper h3 { padding-left:0; }
.contact-form-ajax .form-wrapper h3:before { content:""; position:absolute; top:0px; left:-40px; display:block; width:30px; height:36px; background-repeat:no-repeat; background-size:80% }
.contact-form-ajax .form-wrapper h3 + p { padding-left:0;  }
.contact-form-ajax .form-wrapper h3 + p a { color:#094A53!important; transition:.3s cubic-bezier(0.165, 0.84, 0.44, 1); text-decoration:none; }
.contact-form-ajax .form-wrapper h3 + p a:hover {  color:#23757F; }

.contact-form-ajax .form-wrapper input, .contact-form-ajax .form-wrapper textarea { border:1px solid black; border-radius:0; background-color:#e2e8eb; }
.contact-form-ajax .form-wrapper button { margin-top:10px; padding:5px 25px; background-color:#3CA0AA; color:#fff; font-weight:500; transition:.3s cubic-bezier(0.165, 0.84, 0.44, 1); border:0; text-transform:uppercase; }
.contact-form-ajax .form-wrapper button:hover { background-color:#23757F; color:#fff; }

.contact-form-ajax .form-wrapper .phone h3:before { background-image:url('../images/telefon.svg'); }
.contact-form-ajax .form-wrapper .error { padding:5px 0; font-size:13px; color:#AA463C; font-weight:600; }

/* mobile */
@media only screen and (max-width:768px) {
    .contact-form-ajax .form-wrapper { height:100%; overflow-y:scroll; }
    .contact-form-ajax .form-wrapper .js-close-form-modal { top:15px; right:15px; }
    
    .contact-form-ajax .form-wrapper p:last-of-type { margin-bottom:120px; }
    .contact-form-ajax .form-wrapper .phone { bottom:-80px; }
}
/* mobile */

/* dekstop */
@media only screen and (min-width:769px) {

}
/* ===== Formular contact modal ===== */